.header{
  height: 55px;
  display: flex;
  justify-content: space-between;
  
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-right: 24px;
  margin-left: 20px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-button{
  width: 66px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border-color: rgb(192, 192, 192);
  border: 1px;
  border-style: solid;
}

.search-icon{
  
}

.search-button,
.voice-search-button,
.upload-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-search-button{
  width: 24px;
  height: 24px;
  background-color: #f8f8f8;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  
}

.search-bar{
  height: 36px;
  flex: 1;
  padding-left: 10px;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upload-button{
  height: 24px;
}

.notification-button{
  height: 24px;
}

.youtube-apps{
  height: 24px;
}

.youtube-profile{
  width: 30px;
}




