.header{
  height: 55px;
  display: flex;
  justify-content: space-between;
  
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-right: 24px;
  margin-left: 20px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-button{
  width: 60px;
  height: 40px;
}

.voice-search-button{
  width: 24px;
  height: 24px;
  background-color: #f8f8f8;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  
}

.search-bar{
  height: 34px;
  flex: 1;
  padding-left: 10px;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-button{
  height: 24px;
}

.notification-button{
  height: 24px;
}

.youtube-apps{
  height: 24px;
}

.youtube-profile{
  width: 50px;
}




