.header{
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: white;
  z-index: 100;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-block-color: rgb(228, 228, 228);
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 25px;
  margin-right: 24px;
  margin-left: 23.5px;
  cursor: pointer;
}

.youtube-logo{
  height: 20px;
  cursor: pointer;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
  height: 36px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 100px;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.search-button{
  width: 66px;
  height: 40px;
  border-width: 1px;
  background-color: rgb(240, 240, 240);
  border-color: rgb(192, 192, 192);
  border-style: solid;
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}

.search-icon{
  height: 25px;
  margin-top: 4px;
  
}

.search-button,
.voice-search-button,
.upload-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-search-button{
  width: 40px;
  height: 40px;
  background-color: rgb(245, 245, 245);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.voice-search-icon{
  height: 24px;
  cursor: pointer;
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 19px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
  cursor: pointer;
}


.youtube-apps-icon{
  height: 24px;
  cursor: pointer;
}

.notification-icon{
  height: 24px;
  cursor: pointer;
}

.notification-icon:hover{

}

.current-user-picture{
  width: 30px;
  height: 30px;
  border-radius: 16px;
  cursor: pointer;
}
