.thumbnail{
  width: 100%;
}

.video-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.profile-picture{
  width: 40px;
  border-radius: 50px;
}


.thumbnail-row{
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  line-height: 18px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding: 20px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-time{
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 8px;
  font-family: Roboto, Arial;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}