.youtube-header{
  display: flex; 
  flex-direction:row; 
  margin-top: 30px;
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  justify-content: center;
}

.youtube-header-spaced{
  display: flex; 
  flex-direction:row; 
  margin-top: 30px;
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  justify-content: space-between;
}

.youtube-header-aligned-items{
  display: flex; 
  flex-direction:row; 
  margin-top: 30px;
  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  justify-content: center;
  align-items: center;
}
.body{
  padding-bottom: 1000px;
}