p{
  font-family: Roboto, Arial, sans-serif;
}

.search-bar{
  display: block;
}

.thumbnail{
  width: 300px;
  display: block;
}

.video-title{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 300px;
}

.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
 