.body-style{
  height: 3000px;
  padding-top: 60px;
  padding-left: 80px;
}

.header-div{
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 100;
}

.sidebar-div{
  background-color: green;
  color: white;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0px;
  width: 72px;
}

.absolute-div{
  position: absolute;
  right: 10px;
  top: 60px;
  background-color: red;
  color: white;
}

.absolute-div-stacked{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: red;
  color: white;
}

.absolute-div-time{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
}

.div-1{
  background-color: lightblue;
  height: 200px;
  width: 200px;
  position: static;
}

.div-2{
  background-color: lightpink;
  height: 200px;
  width: 200px;
  position: relative;
}